* {
    margin: 0;
    padding: 0;    
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

a {
    text-decoration: none;
}

body {
    display: flex;
}

.navIcon {
    width: 1.5vw;
}

.sideBar {
    font-weight: 500;
    font-size: 0.95rem;
    padding-right: 2vw;
    height: 100vh;
    width: 35vh;
    background-color: rgb(10, 143, 205);
    color: white;
    display: flex;
    flex-direction: column;
}

.mainNav {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    row-gap: 2vh;
    place-items: center;
}

.downNav {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    row-gap: 2vh;
    place-items: center;
}

.navIcon {
    filter: invert(100%) sepia(49%) saturate(3151%) hue-rotate(178deg) brightness(111%) contrast(101%);
}

.navItem {
    color:#f0f8ff;
    justify-self: start;
    transition: ease-in-out 300ms;
}

.dashboardTitle{
    display: grid;
    margin-top: 2vh;
    grid-template-columns: 0.5fr 1.5fr;
    row-gap: 2vh;
    place-items: center;
}

.dashboardText{
    justify-self: start;
    font-size: 1.3rem;
}

.dashboardIcon{
    width: 3vw;
    filter: invert(100%) sepia(49%) saturate(3151%) hue-rotate(178deg) brightness(111%) contrast(101%);
}

.navItem:hover{
    font-size: 1.05rem;
    color: #ffffff;
    transition: 300ms;
    cursor: pointer;
}

.mainSide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    padding-bottom: 2vh;
    flex-direction: column;
    padding-inline: 3vw;
    box-shadow: 0px 5px 2px -2px #bdc2c9;
    z-index: 1;
}

.upperHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.notificationProfileConatiner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.miniProfilePicture{
    height: 4vw;
    border-radius: 50%;
    margin-right: 1vw;
}

.headerIcon{
    width: 1.8vw;
    margin-right: 1vw;
    transition: 300ms ease-in-out;
}

.headerIcon:hover{
    cursor: pointer;
    width: 2vw;
    transition: 300ms ease-in-out;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContainer{
    background-color: #d5dee6;
    width: 30vw;
    height: 3vh;
    border-radius: 16px;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.profilePicture {
    height: 8vw;
    margin-right: 1vw;
    border-radius: 50%;
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.profileBtns{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(10, 143, 205);
    border: none;
    color: aliceblue;
    padding-inline: 2vw;
    padding-block: 1vh;
    border-radius: 16px;
    font-weight: 500;
    transition: ease-in-out 300ms;
}

button:hover {
    cursor: pointer;
    padding-inline: 2.2vw;
    padding-block: 1.2vh;
    background-color: rgb(0, 119, 179);
    transition: ease-in-out 300ms;
}

.mainContainer {
    display: flex;
    background-color: #E2E8F0;
    height: 77vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #098FCD #E2E8F0;
}
.mainRightBar {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.projects{
    padding-top: 2vh;
    padding-inline: 3vw;
    width: 70%;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2vh;
}

.projectItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    height: 20vh;
    background-color: #FFFFFF;
    border-left: 8px solid #ffb452;
    box-shadow: 3px 3px 2px #bdc2c9;
    padding: 5% 8%;
    border-radius: 10px;
}

.projectIcon{
    width: 3vh;
    transition: 400ms ease-in-out;
    border-radius: 50%;
}

.projectIcon:hover{
    transition: 400ms;
    background-color: rgb(219, 226, 233);
    border-radius: 50%;
    cursor: pointer;
    width: 4vh;
    margin-bottom: 1vh;
}

.projectIcons{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-top: 2vh;
    height: 5vh;
    gap: 1vw;
}

.projectMainContent{
    display: flex;
    flex-direction: column;
}

.announcements {
    padding-top: 2vh;
}

.announcementsContainer{
    background-color: #FFFFFF;
    margin-top: 1.5vh;
    font-size: 0.8rem;
    padding: 10% 10%;
    border-radius: 10px;
}

.paragraphAnnouncements {
    color: #636363;
    font-size: 0.8rem;
    font-weight: 400;
}

hr {
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: #636363 solid 0.5px;
    border-radius: 10px;
}

h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

.paragraphProject {
    color: #636363;
    font-size: 0.8rem;
    font-weight: 400;
}